boidy{
	margin:10px;
}

}

.container{
	display:flex;
	flex-warp:warp;
	 -ms-flex-pack:center;
	justify-content:center; 
	flex-direction:column;
}
h1{
	font-family:fantasy;
	font-size:2 em;
	border-bottom:2px solid pink;
	border-right:2px solid pink;
	box-shadow:3px 3px 4px 3px #888888;
	width:400px;
	margin-top: 10px;
	
}

img{
	width:400px;
	height:300px;
	margin: 10px;
	align-items:center;
	transition:all  1s;
}
img:hover{
	transform:scale(1.1);
}



